<h1>Item List</h1>
<%= link_to 'New', new_admin_item_path %>
  <table>
    <thead>
      <td>Image</td>
      <td>Name</td>
      <td>Category</td>
      <td>Quantity</td>
      <td>Batch Count</td>
      <td>Minimum Bets</td>
      <td>Online at</td>
      <td>Offline at</td>
      <td>Start at</td>
      <td>Status</td>
      <td>State</td>
    </thead>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.image.url if item.image.present? %></td>
        <td><%= item.name %></td>
        <td><%= item.categories.pluck(:name).join(',') %></td>
        <td><%= item.quantity %></td>
        <td><%= item.batch_count %></td>
        <td><%= item.minimum_bets %></td>
        <td><%= item.online_at %></td>
        <td><%= item.offline_at %></td>
        <td><%= item.start_at %></td>
        <td><%= item.status %></td>
        <td><%= item.state %></td>
        <td><%= link_to 'Edit', edit_admin_item_path(item) %></td>
        <td><%= button_to 'Delete', admin_item_path(item), method: :delete %></td>
      </tr>
    <% end %>
  </table>