<h1>Profile Information</h1>

<p>Profile Picture: <%= image_tag @user.image.url if @user.image.present? %></p>
<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>Phone Number: <%= @user.phone_number %></p>
<p>Coins: <%= @user.coins %></p>



<%= link_to 'Lottery History', user_lottery_history_index_path(@user)%>
<%= link_to 'Order History', user_order_history_index_path(@user)%>
<%= link_to 'Winnings', user_winnings_path(@user)%>
<%= link_to 'Invites', user_invite_index_path(@user)%>