<div class="row">
  <div class="col-md-4">
    <div class="card mb-4">
      <%= image_tag @user.image.url, class: "card-img-top", alt: "User Image" if @user.image.present? %>
      <div class="card-body">
        <h5 class="card-title"><%= @user.username %></h5>
        <p class="card-text"><%= @user.email %></p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Profile Information</h5>
        <p><%= User.human_attribute_name(:phone_number)%>: <%= @user.phone_number %></p>
        <p><%= User.human_attribute_name(:coins)%>: <%= @user.coins %></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= link_to t('Edit Profile'), edit_user_registration_path, class: "btn btn-primary" if current_user %>
        <%= link_to t('Address'), user_addresses_path(@user), class: "btn btn-secondary" if current_user %>
        <%= link_to t('Lottery History'), user_lottery_history_index_path(@user), class: "btn btn-secondary" %>
        <%= link_to t('Order History'), user_order_history_index_path(@user), class: "btn btn-secondary" %>
        <%= link_to t('Winnings'), user_winnings_path(@user), class: "btn btn-secondary" %>
        <%= link_to t('Invites'), user_children_members_path(@user), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
