<h1>New News Ticker</h1>
<%= link_to "New", new_admin_news_ticker_path%>
<table class="table table-striped table-hover">
  <thead>
  <td>Content</td>
  <td>Status</td>
  <td>Admin ID</td>
  </thead>

  <% @news_tickers.each do |news| %>
    <tr>
      <td><%= news.content %></td>
      <td><%= news.status %></td>
      <td><%= news.admin_id%></td>
      <td>
      <%= link_to 'Edit', edit_admin_news_ticker_path(news) %>
      <%= button_to 'Delete', admin_news_ticker_path(news), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>