<h1>Shop Page</h1>

<h1>Offer List</h1>
<%= link_to 'Homepage', home_index_path %>
  <table>
    <thead>
      <td><%= Offer.human_attribute_name(:image) %></td>
      <td><%= Offer.human_attribute_name(:name) %></td>
      <td>Genre</td>
      <td><%= Offer.human_attribute_name(:amount) %></td>
      <td><%= Offer.human_attribute_name(:coins) %></td>
      <td><%= Offer.human_attribute_name(:status) %></td>
    </thead>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= image_tag offer.image.url if offer.image.present? %></td>
        <td><%= link_to offer.name, shop_path(offer) %></td>
        <td><%= offer.genre %></td>
        <td><%= offer.amount %></td>
        <td><%= offer.coins %></td>
        <td><%= offer.status %></td>
        <td>
    <%end%>
  </table>