<%= 'Order: ' + @offer.name%>


</br>
<%= image_tag @offer.image.url if @offer.image.present? %></p>

</br>

<div>
    <%= form_for @order, url: orders_path do |form| %>
  <%= form.hidden_field :offer_id, value: @offer.id %>
  <%= form.hidden_field :genre, value: 'deposit' %>
  <%= form.label :amount %>
  <%= form.number_field :amount %>
  <%= form.label :coins %>
  <%= form.number_field :coins %>
  <%= form.label :remarks %>
  <%= form.text_area :remarks %>
  <%= form.submit 'Place Order' %>
<% end %>
</div>
