<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="mb-4"><%= 'Order: ' + @offer.name %></h2>

      <div class="mb-3">
        <%= image_tag @offer.image.url if @offer.image.present? %>
      </div>

      <div class="mb-3">
        <strong><%= Offer.human_attribute_name(:amount) %>:</strong> <%= @offer.amount %> pesos
      </div>

      <div class="mb-3">
        <strong><%= Offer.human_attribute_name(:coins) %>:</strong> <%= @offer.coins %> coins
      </div>

      <div class="mb-3">
        <%= form_for @order, url: orders_path do |form| %>
          <%= form.hidden_field :offer_id, value: @offer.id %>
          <%= form.hidden_field :genre, value: 'deposit' %>
          <%= form.hidden_field :amount, value: @offer.amount %>
          <%= form.hidden_field :coins, value: @offer.coins %>

          <%= form.submit 'Place Order', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
