<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @banners.each_with_index do |banner, index| %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <%= image_tag banner.preview.url, class: "d-block w-100", alt: "Banner #{index + 1}" %>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="news-ticker" class="d-flex">
  <div class="news-item announcement">
    Announcement:&nbsp;
  </div>
  <% news_content = @news_tickers.last(5).map(&:content) %>
  <% news_content.each_with_index do |content, index| %>
    <div class="news-item <%= 'last-news' if index == 4 %>">
      <%= content %><%= ',' unless index == 4 %>
    </div>
  <% end %>
</div>



<h1>Winner's Feedback</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @feedbacks.last(3).each do |feedback| %>
    <div class="col">
      <div class="card h-100">
        <%= image_tag feedback.image.url, class: "card-img-top" if feedback.image.present? %>
        <div class="card-body">
          <h5 class="card-title">Feedback from <%= feedback.user.username %></h5>
          <p class="card-text"><%= feedback.message %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated <%= time_ago_in_words(feedback.created_at) %> ago</small>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col">
    <a href="<%= feedbacks_path %>">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">View More Feedback</h5>
          <p class="card-text">Click here to view all feedback</p>
        </div>
      </div>
    </a>
  </div>
</div>
</br>
<h1>Coming Soon</h1>
</br>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @items.limit(8).each do |item| %>
    <div class="col">
      <div class="card h-100">
        <%= image_tag item.image.url, class: "card-img-top" if item.image.present? %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to item.name, lottery_path(item) %></h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated <%= time_ago_in_words(item.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col">
    <a href="<%= lottery_index_path %>">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">View More</h5>
          <p class="card-text">Click here to view all items</p>
        </div>
      </div>
    </a>
  </div>
</div>