<h1>Offer Search Page</h1>


<%= select_tag :genre, options_for_select(Offer.genres.map { |key, value| [key.to_s.titleize, value] }, params[:genre]) %>
<%= select_tag :status, options_for_select(Offer.statuses.map { |key, value| [key.to_s.titleize, value] }, params[:status]) %>

<%= submit_tag "Search" %>

<h1>Offer List</h1>
<%= link_to 'New', new_admin_offer_path %>
  <table class="table table-striped table-hover">
    <thead>
      <td>Image</td>
      <td>Name</td>
      <td>Genre</td>
      <td>Status</td>
      <td>Amount</td>
      <td>Coins</td>

    </thead>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= image_tag offer.image.url if offer.image.present? %></td>
        <td><%= offer.name %></td>
        <td><%= offer.genre %></td>
        <td><%= offer.status %></td>
        <td><%= offer.amount %></td>
        <td><%= offer.coins %></td>
        <td>
    <%end%>
  </table>