
<table  class="table table-striped">
  <thead>
      <td><%= Winner.human_attribute_name(:state)%></td>
      <td><%= Winner.human_attribute_name(:price)%></td>
      <td><%= Winner.human_attribute_name(:paid_at)%></td>
      <td><%= Winner.human_attribute_name(:item_batch_count)%></td>
      <td><%= Winner.human_attribute_name(:address_id)%></td>
      <td><%=t('Aksyon')%></td>
  </thead>
  <% @winners.each do |winner| %>
      <td><%= winner.state %></td>
      <td><%= winner.price %></td>
      <td><%= winner.paid_at %></td>
      <td><%= winner.item_batch_count %></td>
      <td><%= winner.address_id %></td>
      <td>
          <%= button_to 'Claim Prize', claim_user_winning_path(winner), method: :patch if winner.may_claim? %>
          <%= button_to 'Share Feedback', share_user_winning_path(winner), method: :patch if winner.may_share? %>
      </td>
    </tr>
  <% end %>
</table>

