
<table>
  <thead>
      <td>State</td>
      <td>price</td>
      <td>Paid At</td>
      <td>Batch Count</td>
      <td>Address ID</td>
      <td>Action</td>
  </thead>
  <% @winners.each do |winner| %>
      <td><%= winner.state %></td>
      <td><%= winner.price %></td>
      <td><%= winner.paid_at %></td>
      <td><%= winner.item_batch_count %></td>
      <td><%= winner.address_id %></td>
      <td><%= button_to 'Claim Prize', claim_user_winning_path(winner), method: :patch if winner.may_claim? %></td>
    </tr>
  <% end %>
</table>

