<h1>Admin Home Page</h1>

<% if user_signed_in? %>
  <h2> Hello, <%= current_user.username %> </h2>
  <%= link_to 'Sign out', destroy_user_session_path, data: { 'turbo-method': :delete } %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>

<%= link_to 'Edit', edit_user_registration_path(@user) %>
<%= link_to 'Users List', admin_users_path(@user) %>
<%= link_to 'Item List', admin_items_path(@user) %>
<%= link_to 'Category List', admin_categories_path(@user) %>
<%= link_to 'Offers', admin_offers_path(@user)%>
<%= link_to 'Orders', admin_orders_path(@user)%>
<div>
<div id="search-form">
  <%= form_tag admin_home_index_path, method: :get do %>
    <%= text_field_tag :serial_number, params[:serial_number], placeholder: "Serial Number" %>
    <%= text_field_tag :email, params[:email], placeholder: "Email" %>
    <%= select_tag :state, options_for_select(Bet.aasm.states.map { |s| [s.name.to_s.humanize, s.name] }, params[:state]), prompt: "Select State" %>
    <%= label_tag "Start Date" %>
    <%= date_field_tag :start_date, params[:start_date] %>
    <%= label_tag "End Date" %>
    <%= date_field_tag :end_date, params[:end_date] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Serial Number</th>
      <th>Item</th>
      <th>User</th>
      <th>Email</th>
      <th>Status</th>
      <th>Created At</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.serial_number %></td>
        <td><%= bet.item.name %></td>
        <td><%= bet.user.username %></td>
        <td><%= bet.user.email %></td>
        <td><%= bet.state%>
        <td><%= bet.created_at %></td>
        <td><%if bet.state == 'won' %>
          <td><%= button_to 'Claim Prize', claim_user_winning_path(winner), method: :patch if winner.may_claim? %></td>
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

